# **Data Types and Structures Questions**

**01. What are data structures, and why are they important?**

**Ans:** Data structures are ways to organize and store data in a computer so it can be used efficiently. It defines the relationship between the data and the operations that can be performed on them.

**Why They're Important:**

(i) Make data easy to access and modify.

(ii) Improve speed and performance of programs.

(iii) Help manage large amounts of data.

(iv) Essential for building efficient algorithms.

**02.  Explain the difference between mutable and immutable data types with examples.**

**Ans:** **Mutable data types** are types whose values can be changed after they are created.

**Mutable Data Types (can be changed):**
You can modify, add, or remove elements.

**Examples:**

list , dict (dictionary) , set.

**Immutable data types** are types whose values cannot be changed after they are created.

**Examples:**

int , float , str (string) , tuple

**03. What are the main differences between lists and tuples in Python?**

**Ans:**
# **Main Differences Between Lists and Tuples:**

# **Mutability**

**A list** is a mutable data structure, meaning its elements can be changed, added, or removed after creation.

**A tuple** is immutable, meaning once it is created, its elements cannot be modified.

# **Syntax**

**A list** is defined using square brackets [ ].

Example: my_list = [1, 2, 3]

**A tuple** is defined using parentheses ( ).

Example: my_tuple = (1, 2, 3)

# **Methods**

**Lists** have many built-in methods such as **append(), remove(), pop(),** etc., which allow easy modification.

**Tuples** have fewer methods because they are not meant to be modified after creation.

# **Performance**

**Lists** are slightly slower because of their flexibility and dynamic nature.

**Tuples** are faster and more memory-efficient due to their fixed size and immutability.

# **Use Case**

Use a **list** when you need a dynamic collection of items that may change over time.

Use a **tuple** when you need a fixed collection of items that should remain
constant throughout the program.

**04. Describe how dictionaries store data.**

**Ans:** A dictionary in Python is an unordered, mutable collection that stores data in key-value pairs. Each key maps to a value, allowing fast and direct access to data using the key.

**How Dictionaries Store Data:**

Dictionaries use a **hash table** internally.

Each key is passed through a **hashing function** to generate a unique index.

This index determines where the value is stored in memory.

This makes **lookups, insertions, and deletions** very fast **(on average, O(1) time complexity).**

**05. Why might you use a set instead of a list in Python?**

**Ans:** A set is used when you need to store unique items and don’t care about the order.

**Main Reasons to Use a Set:**

No duplicates allowed.

Sets automatically remove duplicate values.

Perfect for storing unique data.

Faster Lookups.

Checking if an item exists is faster in a set than in a list **(average time: O(1) vs. O(n)).** Efficient Set Operations

Sets support powerful operations like **union, intersection, difference,** etc.

**06. What is a string in Python, and how is it different from a list?**

**Ans:** **String** is a sequence of characters—such as **letters, numbers, or symbols—used** to represent text in Python.
Strings are written inside quotes, like **'Hello' or "Python".**

Strings are immutable, meaning once a string is created, its characters cannot be changed directly.

**How is it Different from a List?**

A list is a collection of items, not just text. It can store numbers, strings, or even other lists.

Written inside square brackets: [1, 2, 3] or ["apple", "banana"]

Lists are mutable – you can change, add, or remove items.


String = text only, cannot be changed.

List = can hold anything (numbers, text, etc.), can be changed.

**07. How do tuples ensure data integrity in Python?**

**Ans: Tuples ensure data integrity in Python because they are immutable.**

This means their contents can’t be changed after creation, which prevents accidental data modification. They're also hashable (if elements are), making them safe for use as dictionary keys or set elements, and ideal for storing fixed, read-only data.

**08. What is a hash table, and how does it relate to dictionaries in Python?**

**Ans:** A hash table is a data structure that stores key-value pairs and uses a hash function to quickly find values based on their keys.

It allows for fast data access, usually in constant time (O(1)).

In Python, a dictionary (dict) is built using a hash table.

**This means:**

It uses a hash function to convert keys into numbers.

These numbers determine where the values are stored.

This allows for fast access, insertion, and deletion based on the key.

**09. Can lists contain different data types in Python?**

**Ans: Yes,** In Python, lists can contain different data types.

**We can mix:**

Integers

Strings

Floats

Booleans

Even other lists or objects

**10. Explain why strings are immutable in Python.**

**Ans:** Strings are immutable in python because their contents cannot be changed once created. Any operation that appears to modify a string actually creates a new string, leaving the original unchanged.

**Reasons for Immutability:**

**Performance & Efficiency:** Immutable objects can be optimized and reused in memory, making string operations faster and more efficient.

**Safety & Reliability:** Since strings can’t be changed, multiple parts of a program can safely use the same string without the risk of unexpected modifications.

**Hashability:** Immutability allows strings to be hashable, which is essential for using them as keys in dictionaries or elements in sets.

**11. What advantages do dictionaries offer over lists for certain tasks?**

**Ans:** Advantages of do dictionaries offer over lists for certain tasks:

1. Faster lookups using keys (O(1) time).

2. Key-value pairs make data more structured.

3. More readable and easier to understand.

4. No need to remember indexes—use meaningful keys.

**12. Describe a scenario where using a tuple would be preferable over a list.**

**Ans:** Use a tuple when you need to store a fixed set of values that should not change.

Storing coordinates **(like GPS location):**

**location = (28.6139, 77.2090)  # (latitude, longitude)**

**Why tuple?**

The number of values is fixed.

You don’t want the data to be accidentally modified.

It can be used as a dictionary key if needed.

**13. How do sets handle duplicate values in Python?.**

**Ans:** In Python, a set is an unordered collection of unique elements. It automatically removes duplicates, keeping only one copy of each value.

**14. How does the “in” keyword work differently for lists and dictionaries?**

**Ans:** **"in"** Keyword in Python : The **"in"** keyword checks for membership, but it behaves differently for lists and dictionaries.

**For Lists:**  Checks if a value exists in the list.

**For Dictionaries:** Checks if a key exists in the dictionary (not the value).

**15. Can you modify the elements of a tuple? Explain why or why not.**

**No,** you cannot modify the elements of a tuple in Python.

**Why?**

Because tuples are immutable, meaning once created, their elements cannot be changed, added, or removed.

**Why Not?**

You can’t modify a tuple because it’s immutable — this helps protect data from accidental changes and improves performance.

**16. What is a nested dictionary, and give an example of its use case?**

**Ans:** A nested dictionary in Python is a dictionary inside another dictionary. It allows you to store and organize complex data in a structured way.

**Use Case: Student Records System**

A school wants to store info about multiple students, including their name, age, and marks. A nested dictionary is perfect for this!

**17. Describe the time complexity of accessing elements in a dictionary.**

**Ans:** **Dictionary Access Time Complexity**

Accessing a value using a key in a dictionary is usually:

**O(1) — Constant Time**

This means it takes the same amount of time no matter how many items are in the dictionary.

**Why?**

Dictionaries use hashing to quickly find keys.

Python directly jumps to the location of the value using the key’s hash.

**18. In what situations are lists preferred over dictionaries?**

**Ans:** Lists are preferred when you need an ordered collection of simple, non-paired data that can be accessed by position (index). They are ideal when the order of elements matters and key-value mapping is not required.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

Dictionaries are considered unordered because they are designed for key-based access, not for maintaining the position of items. In Python versions before **3.7,** they did not preserve the insertion order at all. From **Python 3.7** onward, they maintain insertion order, but dictionaries are still not accessed by index like lists. You must use the exact key to retrieve a value, and you cannot rely on position. This makes dictionaries very fast for lookups, but not ideal when the order of elements matters.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

**Ans:** **Difference Between List and Dictionary (Data Retrieval):**

1. **In List :** You access data using a number **(index).**

     Example: my_list[0] gives you the first item.

  **In Dictionaries:** You access data using a key **(name).**

     Example: my_dict["name"] gives you the value linked to that key.

2. **Lists** are for ordered data, like a sequence of items.

  **Dictionaries** are for key-value pairs, like names and phone numbers.

3. **Lists:** slower for searching **(O(n)),

   **Dictionaries:** faster (O(1) on average).

4. In a **list,** position matters.

   In a **dictionary,** the key matters.

# **Practical Questions**

**1. Write a code to create a string with your name and print it.**

In [62]:
# Creating a string with a name
my_name = "Vikram"

# Printing the string
print(my_name)

Vikram

**2. Write a code to find the length of the string "Hello World"**

In [60]:
# Defining the srting
text = "Hello World"

# Finding the length of the string using len() function
length = len(text)

# Printing the result
print(length)

11

**3. Write a code to slice the first 3 characters from the string "Python Programming"**

In [61]:
# Defining the string
text = "Python Programming"

# Slicing the first 3 characters (index 0 to 2)
sliced_text = text[:3]

# Printing the result
print(sliced_text)

Pyt

**4. Write a code to convert the string "hello" to uppercase.**

In [63]:
# Defining the string
text = "hello"

# Converting to uppercase using upper() method
uppercase_text = text.upper()

# Printing the result
print(uppercase_text)

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [64]:
# Original string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Printing the updated string
print(new_text)

I like orange

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [65]:
# Creating a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Printing the list
print(numbers)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [66]:
# Defining the original list
numbers = [1, 2, 3, 4]

# Appending the number 10 to the list
numbers.append(10)

# Printing the updated list
print(numbers)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [68]:
# Defining the original list
numbers = [1, 2, 3, 4, 5]

# Removing the number 3 from the list
numbers.remove(3)

# Printing the updated list
print(numbers)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [69]:
# Defining the list
letters = ['a', 'b', 'c', 'd']

# Accessing the second element (index 1, since indexing starts at 0)
second_element = letters[1]

# Printing the result
print(second_element)

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [72]:
# Defining the original list
numbers = [10, 20, 30, 40, 50]

# Reversing the list using reverse() method
numbers.reverse()

# Printing the reversed list
print(numbers)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [74]:
# Creating a tuple with elements 100, 200, 300
my_tuple = (100, 200, 300)

# Printing the tuple
print(my_tuple)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [77]:
# Defining the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element using negative indexing
second_last = colors[-2]

# Printing the result
print(second_last)

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [80]:
# Defining the tuple
numbers = (10, 20, 5, 15)

# Finding the minimum number using min() function
minimum = min(numbers)

# Printing the result
print(minimum)

5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [83]:
# Defining the tuple
animals = ('dog', 'cat', 'rabbit')

# Finding the index of 'cat' using index() method
index = animals.index('cat')

# Printing the result
print(index)

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [86]:
# Creating a tuple with fruits
fruits = ('apple', 'banana', 'orange')

# Checking if 'kiwi' is in the tuple
is_kiwi_in_tuple = 'kiwi' in fruits

# Printing the result
print(is_kiwi_in_tuple)

False

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [103]:
# Creating a set with element 'a','b','c',
# Sets are unordered collections of unique items in python
my_set = {'a','b','c'}

# Printing the set
# The output may show the elements in any order, like {'a','b','c'},
# {'a,'c','b'}, {'b','a','c'}, {'b','c','a'}, {'c','a','b'}, or {'c','b','a'},
print(my_set)

{'a', 'c', 'b'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [89]:
# Creating a set with numbers
my_set = {1, 2, 3, 4, 5}

# Clearing all elements from the set
my_set.clear()

# Printing the set after clearing
print(my_set)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [90]:
# Creating a set with elements
my_set = {1, 2, 3, 4}

# Removing the element 4 from the set
my_set.remove(4)

# Printing the set after removing
print(my_set)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [91]:
# Defining two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Finding the union of the sets using union() method
union_set = set1.union(set2)

# Printing the result
print(union_set)

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [92]:
# Defining two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding the intersection of the sets using intersection() method
intersection_set = set1.intersection(set2)

# Printing the result
print(intersection_set)

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [94]:
# Creating a dictionary with keys and values
person = {
    "name": "Vikram Sharma",
    "age": 22,
    "city": "India"
}

# Printing the dictionary
print(person)

{'name': 'Vikram Sharma', 'age': 22, 'city': 'India'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [98]:
# Defining the original dictionary
person = {'name': 'John', 'age': 25}

# Adding a new key-value pair
person['country'] = 'USA'

# Printing the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [99]:
# Defining the dictionary
person = {'name': 'Alice', 'age': 30}

# Accessing the value associated with the key 'name'
name_value = person['name']

# Printing the result
print(name_value)

Alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [103]:
# Defining the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key 'age' from the dictionary
person.pop('age')

# Printing the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [104]:
# Definig the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Checking if the key 'city' exists in the dictionary
city_exists = 'city' in person

# Printing the result
print(city_exists)

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [106]:
# Creating a List
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {
    "name": "Vikram",
    "age": 22,
    "city": "India"
}
# printing List, tuple and dictionary
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(10, 20, 30, 40, 50)
{'name': 'Vikram', 'age': 22, 'city': 'India'}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [115]:
import random

# Creating a list of 5 random numbers between 1 to 100
random_numbers = random.sample(range(1,101), 5)

# Sorting the list in acending order
random_numbers.sort()
# Creating a list of 5 random numbers between 1 to 100

random_numbers = random.sample(range(1,101), 5)

# Sorting the list in acending order
random_numbers.sort()

# Printing the sorted list
print("random_numbers:",random_numbers)

random_numbers: [11, 30, 68, 73, 74]

**28. Write a code to create a list with strings and print the element at the third index.**

In [126]:
# Creating a list with string elements
fruits = ["apple","banana","cherry","orange","grape"]

# Printing the element at the third index (Indexing starts from 0)
print("This third index is:", fruits[3])

This third index is: orange

**29. Write a code to combine two dictionaries into one and print the result.**

In [108]:
# Defining two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combining the dictionaries using the update() method
dict1.update(dict2)

# printing the combined dictionary
print("After combining two (dict1 & dict2) dictionary :", dict1)

After combining two (dict1 & dict2) dictionary : {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to convert a list of strings into a set.**

In [128]:
# Defining a list of string
string_list = ["apple", "banana", "cherry", "date"]

# Converting the list to a set using set() function
string_set = set(string_list)

# Printing the set
print("After converting list of string into set:", string_set)

After converting list of string into set: {'cherry', 'date', 'apple', 'banana'}